# The directory Mix will write compiled artifacts to.
/_build

# If you run "mix test --cover", coverage assets end up here.
/cover

# The directory Mix downloads your dependencies sources to.
/deps

# Where 3rd-party dependencies like ExDoc output generated docs.
/doc
/docs
/benchmarks/output

# Ignore .fetch files in case you like to edit your project deps locally.
/.fetch

# Dialyzer
/priv

# If the VM crashes, it generates a dump, let's ignore it too.
erl_crash.dump

# Also ignore archive artifacts (built via "mix archive.build").
*.ez

# Others
*.o
*.beam
*.plt
erl_crash.dump
.DS_Store
._*
/tmp*
.elixir*
.vs*
/priv
.sobelow*
/config
Elixir*
